<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="connectionString" connectionString="" />
    <add name="banifiu.Properties.Settings.xyzConnectionString" connectionString="server=localhost;user id=root;password=root;database=xyz"
      providerName="MySql.Data.MySqlClient" />
    <add name="banifiu.Properties.Settings.addbuildingConnectionString"
      connectionString="server=localhost;user id=root;database=addbuilding"
      providerName="MySql.Data.MySqlClient" />
    <add name="banifiu.Properties.Settings.addlocationConnectionString"
      connectionString="server=localhost;user id=root;database=addlocation"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>